@model IEnumerable<Domain.ViewModel.Administration.UserViewModel>
@{
    ViewData["Title"] = "Users";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

<link rel="stylesheet" type="text/css" href="/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/files/assets/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

<div class="card">
    <div class="card-header">
        <h5>Users <small>List</small></h5>
        <div class="btn-group float-right">
            @*<button type="button" class="btn btn-primary newBtn" data-toggle="modal" data-target=".bs-example-modal-md" id="newItem">New User</button>*@
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table id="tblData" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td style="text-align:center">
                                <a asp-action="EditUser" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-primary">Update User</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <!-- data-table js -->
    <script src="/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/files/assets/pages/data-table/js/dataTables.bootstrap4.min.js"></script>
    <script src="/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="/files/assets/pages/data-table/js/data-table-custom.js"></script>

    <script src="~/js/Admin/Users.js"></script>
}
